.backgroundimg{
    background: url('../images/Image\ \(3\).jpeg');
    height: 500px;
    max-width: 700px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 .burgermaindivv{
     display: none;
 }
 .burgerbaricon{
     display: none;
 }
.arrow, .burgerbar{
    display: none;
}
.backlinediv{
    max-width: 450px;
    width: 100%;
    height: 1px;
    background-color: #fff;
    margin-top: 20px;
}
.backdiv{
    max-width: 500px;
    width: 100%;
}
.backtitle{
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}
.backtitl{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
}
.backdescr{
    font-size: 15px;
    color: #fff;
    margin-top: 25px;
}
.backbutton{
    background-color: #fa6980;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 36px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    margin-top: 35px;
    transition: all 0.5s;
}
.backbutton:hover{
    background-color:#f72b4d;
}
.headerarticle{
    margin-top: 5%;
    max-width: 400px;
    width: 100%;
    margin: auto;
}
.newstitle{
    font-size: 20px;
    font-weight: bold;
}
.linediv{
    max-width: 450px;
    width: 100%;
    height: 1px;
    background-color: rgb(212, 209, 209);
    margin-top: 30px;
}
.titletrav{
    font-size: 16px;
    font-weight: bold;
    color:#fa6980 ;
    margin-top: 30px;
}
.titleart{
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
}
.timediv{
    display: flex;
    margin-top: 14px;
    color: rgb(212, 209, 209);
}
.time{
    margin-left: 5px;
}


.artdescr{
    font-size: 13px;
    color: slategray;
    max-width: 400px;
    width: 100%;
    margin-top: 15px;

}
.headermaindiv{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #fff;
}
.lia{
    color: rgb(146, 143, 141);
}
.li-a{
    color: #000;
}
body{
    background-color: #f6f8f9;
}
.logo{
    margin-left: 20px;
    margin-top: 17px;
    color:#fa6980 ;
    font-size: 25px;
}
.nav-ul{
    max-width: 500px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-right: 10px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items:baseline;
}
.trending{
    margin-top: 24px;
    color:#202124 ;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 31px;
}
.trending-title{
    margin-left: 10%;
    margin-top: 15%;
    font-size: 18px;
    font-weight: bold;
}
.trending-title::after{
    content: '>';
    position: absolute;
    right: 1px;
    top: 10px;
}
.trending-title::before{
    content: '<';
    position: absolute;
    right: 30px;
    top: 10px;
    color: rgb(165, 162, 162);
}
.backimg{
    width: 100%;
    height: 190px;
    object-fit: cover;
}
.trendingimage{
    max-width: 360px;
    width: 100%;
    height: 360px;
    background-color: #fff;
}
.trending-descr{
    font-size: 13px;
    width: 245px;
    color:#9da2a7 ;
    margin-left: 10%;
    margin-top: 5px;
}
.trending-div{
    display: flex;
    justify-content: space-between;
}
.trendingmaindiv{
    margin: 0 auto;
    max-width: 1150px;
    width: 100%;
    position: relative;
}
/* section 2 */
.imagesmainblock{
    max-width: 1150px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.imagesblock{
    margin-top: 5%;
}
.imageselepblock{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section2h2{
    color:#202124 ;
    font-size: 24px;
}
.imgdiv{
    max-width: 761px;
    width: 100%;
    margin-top: 31px;
    display: inline-block;
    vertical-align: top;
}
.nature{
    margin-top: 39px;
    width: 100%;
    height: 100%;
}
.elephant{
    max-width: 360px;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.bird{
    margin-top: 30%;
}
.road{
    margin-top: 30%;
}
.bridgeimg{
    position: relative;
}

.bridgedescr{
    position: absolute;
    font-size: 18px;
    color:#ffffff ;
    bottom: 15%;
    max-width: 550px;
    width: 100%;
    left: 3%;
}
.bridgtitle{
    top: 20%;
    left: 3%;
    position: absolute;
    color: #fff;
    font-weight: bold;
}
.bridgetitle{
    position: absolute;
    font-size: 25px;
    color:#fff;
    bottom: 30%;
    left: 3%;
}

.bridge{
    max-width: 750px;
    width: 100%;
    height: 450px;
    object-fit: cover;
    margin-top: 50px;
}
/* text */
.grey{
    color: rgb(153, 152, 153);
    margin-left: 20px;
}
.story{
    margin-left: 20px;
}

.newsdiv::after{
    position: absolute;
    left: 14.3%;
    content: '/';
}
.newsdiv{
    display: flex;
    position: relative;
}
.newsmaindiv{
    max-width: 1160px;
    width: 100%;
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5%;
}

.form{
    background-color: rgb(255, 255, 255);
    max-width: 600px;
    width: 100%;
    height: 500px;
    margin-top: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.backgroundim{
    max-width: 600px;
    width: 100%;
    height: 500px;
    background: url("../images/aa.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 5%;
}
.newsleftdiv{
    max-width: 600px;
    width: 100%;
}
.formdiv{
    display: flex;
    flex-direction: column;
    max-width: 360px;
    width: 100%;
}
.date{
    max-width: 360px;
    width: 100%;
    height: 40px;
    outline: none;
    border: none;
    border: 1px solid #9a9c9e;
    border-radius: 5px;
    margin-top: 20px;
}
.formbutt{
    width: 135px;
    height: 41px;
    background-color:#fa6980 ;
    border-radius: 5px;
    border: none;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
.key{
    margin-top: 15px;
    font-size: 13px;
}
.avatardiv{
    max-width: 1160px;
    width: 100%;
    margin: auto;
    border-top: 1px solid #ebeded;
    border-bottom: 1px solid #ebeded;
    margin-top: 20px;
    display: flex;
    padding: 25px;
    justify-content: space-between;
    align-items:flex-start;
}
.avatarp{
    width: 358px;
    font-size: 14px;
    line-height: 1.5;
    color:#a6adb4 ;
}
.avatarp2{
    width: 337px;
    font-size: 14px;
    line-height: 1.5;
    color:#a6adb4 ;
}
.avatardescdiv{
    display: flex;
    justify-content: space-between;
    max-width: 750px;
    width: 100%;
}
.avatardivblock{
    display: flex;
    flex-direction: column;
    height:110px ;
}

.avatardesc{
    width: 333px;
    font-size: 24px;
    font-weight: bold;
}
.elep{
    max-width: 1160px;
    width: 100%;
    margin: auto;
    margin-top: 40px;
}
.elepmaindiv{
    display: flex;
    flex-direction: column;
    max-width: 1160px;
    width: 100%;
    margin: auto;
    border-bottom: 1px solid #d5d6d6;
    padding-bottom: 15px;
}
.elephantdesc{
    font-size: 14px;
    max-width: 760px;
    line-height: 1.5;
    width: 100%;
    color: #a6adb4;
    margin-top: 20px;
}


 /* footer */
.footer{
    background-color:#a6adb4;
    height: 210px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}
.footeruldiv{
    display: flex;
    width: 250px;
    justify-content: space-between;
}
.footerdiv{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 30px;
    width: 100%;
}
.ul-div{
    display: flex;
    width: 400px;
    justify-content: space-between;
    align-items:flex-start;
}
.footerlist{
    color:#cbd0d3 ;
    font-size: 13px;
    font-weight: 900;
    margin-top: 5px;
}
.footertitle{
    font-weight: bold;
    font-size: 13px;
    color: #fff;
}
.emailinputdiv{
    width: 263px;
    position: relative;
}
.inputclass{
    width: 263px;
    outline: none;
    height: 35px;
    border: none;
    border: 1px solid #e8e8e9;
    border-radius: 7px;
    background-color:#a6adb4;
}
.inputclass::placeholder{
    color:#e8e8e9 ;
}
.sendicon{
    position: absolute;
    right:13px;
    top: 7px;
    color: #fff;
    border: none;
    background-color:#a6adb4 ;
}
.emailp{
    color:#e8e8e9 ;
    font-size: 11px;
    margin-top: 10px;
}
.socialicons{
    width: 150px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: #fff;
}
.footersocialdiv{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 500px;
    width: 100%;
}


